:root {
    --main-color: #10cab7;
    --sec-color:#2c4755;
    --sec-padding: 60px;
    --sec-background: #f6f6f6;
    --main-duration:0.3s;
}

/* global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;

}
.parent {
    background-color: #eee;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* pour mettres les médias quiers */
/* small */
@media (min-width : 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
@media (min-width : 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width : 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */
/* start css header */
.header{
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
   
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
    
}
.header .links .icon span:first-child {
    width:100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);

} 
.header .links .icon span:nth-child(3) {
    
    width: 100%;
} 
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--sec-background);
    position: absolute;
    min-width: 200px;
    top: 180%;
    display: none;
    z-index: 1;
}
.header .links:hover ul{
 display: block;
}
.header .links ul::before {
    content:""; 
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;

}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration);
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
    
}
/* end css header */
/* start css lading */
.landing {
    background-image: url(../img/m.webp);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
} 
.landing .intro_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
    text-align: center;


}
.landing .intro_text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
} 
.landing .intro_text p {
    font-size: 19px;
    line-height: 1.8;
}
/* end css landing */
/* start css features */
.features {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
    background-color: var(--sec-background);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .container .feat {
    padding: 20px;
    text-align: center;
}
.features .container .feat i {
    color: var(--main-color);
}
.features .container .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .container .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* end css features */
/* start css services */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -4px;
    margin: 0;
}
.special-heading + p {
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: #797979;
}
.services {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
    }
    }
.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: var(--sec-padding);
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv p {
    color: #444;
    font-weight: 300px;
    line-height: 1.6;
}
.services .services-content .srv h3 {
    margin: 0 0 20px;
}
.services .services-content .image {
    text-align: center;
    position: relative;
}
.services .services-content .image::before {
    content: "";
    background-color: var(--sec-color);
    position: absolute;
    width: 85px;
    height: calc(100% + 80px);
    top: -40px;
    right: 0;
    z-index: -1;
    border-radius: 5px 5px 5px 5px;
} 
.services .services-content .image img {
    width: 260px;
    height: 300px;
    border-radius: 5px 5px 5px 5px;
}
@media (max-width: 1197px) {
    .image-column {
        display: none;
    }
}
/* start css portfolio */
.portfolio {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
    background-color: var(--sec-background);
}
.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}
.portfolio .portfolio-content .card .info {
    padding: 20px;
}
.portfolio .portfolio-content .card h3 {
    margin: 0;
    color: black;
}
.portfolio .portfolio-content .card p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
/*end css portfolio */

/* start css about */
.about {
    padding-top: var(--sec-padding);
    padding-bottom: calc(var(--sec-padding)+60px);
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
@media(max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    width: 386px;
    height: 383px;
}
.about .about-content .image:before{
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
 }
 .about .about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    top: -40px;
    right: -147px;
 }
 @media(max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
 }
.about .about-content .image img {
    max-width: 100%;
}
@media(max-width: 991px) {
    .about .about-content .image img {
        margin:0 auto 80px;
    }
}
.about .about-content .text {
    flex-basis: calc(100% - 600px);

}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;


}
.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: #10cab7;
}
.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}
/* end css about */
/* start css contact */
.contact {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
    background-color: var(--sec-background);
}
.contact .info {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
    text-align: center;
}
.contact .info .label {
    font-size: 30px;
    font-weight: 800;
    color: var(--sec-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--sec-color);
}
@media (max-width:767px) {
    .contact .info .link ,
    .contact .info .label {
        font-size: 25px;
    }
    
}
/*end css contact */
/* start css footer */
.footer {
    background-color:var(--sec-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}
/*end css footer */